<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/styles.css" />
  <link rel="stylesheet" href="../public/builds.css" />
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /><body>
</head>

<body>
  <%-include('partials/header')-%>
  <%-include('partials/navbar')-%>

  <input type="hidden" id="username" value="<%= session.Username %>">

  <title>All Builds</title>

  <div class="main-body">
    <h3>All Builds</h3>
    <div class='builds'>
      <% for (let i=0; i < builds.length; i++) { %>
        <div class="builds-element">
          <div class="title-bar">
            <div class="title">
              <h2> <%= builds[i].name %> </h2> 
              <div> by <b> <a href="user/<%= builds[i].Username %>"> <%= builds[i].Username %> </a> </b> </div>
            </div>
            <div class="button-container">
              <button class="view-button" type="button">
                <a target="_top" href="build/<%= builds[i].Build_id %>">View Build</a>
              </button>
              <button class="favorite-button" type="button" <%-session.Username?'':"disabled title='Login to favorite' " %> value="<%= builds[i].Build_id %>" >
                  <span class="material-symbols-outlined" style="font-variation-settings:'FILL' 0;"> favorite </span>
              </button>
              <% if (session.Username == builds[i].Username || session.Username == "admin") { %>
                <button class="delete-button" type="button" value="<%= builds[i].Build_id %>">
                  <span class="material-symbols-outlined" style="font-variation-settings:'FILL' 0;"> delete </span>
                </button>
              <% } %>
              
              
            </div>
         
          </div>
          <div class="details">
        
            <div><strong>CPU:</strong>
              <%= builds[i].CPU_name %>
            </div>
            <div><strong>Motherboard:</strong>
              <%= builds[i].MOBO_name %>
            </div>
            <div><strong>Case:</strong>
              <%= builds[i].Case_name %>
            </div>
            <div><strong>Power Supply:</strong>
              <%= builds[i].PSU_name %>
            </div>
            <div><strong>RAM:</strong>
              <%= builds[i].RAM_name %>
            </div>
            <div><strong>GPU:</strong>
              <%= builds[i].GPU_name %>
            </div>
            <!-- Storage is an array -->
            <div>
              <strong>Storage:</strong>
              <ul>
                <% for (let j=0; j < builds[i].storage.length; j++) { %>
                  <li>
                    <%= builds[i].storage[j].Storage_name %>
                  </li>
                  <% } %>
              </ul>
            </div>
          </div>

          <div>
            <strong>Average Rating: 
              <%= builds[i].average_rating %>
            </strong>
            (out of <%= builds[i].number_of_ratings %> ratings)
          </div>
          <div>
              <span class="times_added_to_favorites"><%= builds[i].times_added_to_favorites %></span> users favorited this build
          </div>
        
        </div>
        <% } %>
    </div>
  </div>
  <script type="module" src="../src/builds.js"></script>
</body>

</html>