<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Builds</title>
  <link rel="stylesheet" href="../public/styles.css" />
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>

<body>
  <%-include('partials/header')-%>
  <%-include('partials/navbar')-%>
  <div class="main-body">
    <h3>All Builds</h3>
    <div class='builds'>
      <% for (let i=0; i < builds.length; i++) { %>
        <div class="builds-element">
          <div class="title-bar">
            <div class="title">
              <h2> <%= builds[i].name %> </h2> 
              <div> by <b> <a href="user/<%= builds[i].Username %>"> <%= builds[i].Username %> </a> </b> </div>
            </div>
            <button class="view-button" type="button">
              <a target="_top" href="build/<%= builds[i].Build_id %>" text-decoration: none;>View Build</a>
            </button>
          </div>
          <div class="details">
        
            <div><strong>CPU:</strong>
              <%= builds[i].CPU_name %>
            </div>
            <div><strong>Motherboard:</strong>
              <%= builds[i].MOBO_name %>
            </div>
            <div><strong>Case:</strong>
              <%= builds[i].Case_name %>
            </div>
            <div><strong>Power Supply:</strong>
              <%= builds[i].PSU_name %>
            </div>
            <div><strong>RAM:</strong>
              <%= builds[i].RAM_name %>
            </div>
            <div><strong>GPU:</strong>
              <%= builds[i].GPU_name %>
            </div>
            <!-- Storage is an array -->
            <div>
              <strong>Storage:</strong>
              <ul>
                <% for (let j=0; j < builds[i].storage.length; j++) { %>
                  <li>
                    <%= builds[i].storage[j].Storage_name %>
                  </li>
                  <% } %>
              </ul>
            </div>
          </div>

          <div>
            <strong>Average Rating: 
              <%= builds[i].average_rating %>
            </strong>
            (out of <%= builds[i].number_of_ratings %> ratings)
          </div>
        
        </div>
        <% } %>
    </div>
  </div>
</body>

</html>